<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div *ngIf="showError" [@fadeInOut] class="error-message">{{ errorMessage }}</div>
  <div *ngIf="showSuccess" [@fadeInOut] class="success-message">{{ successMessage }}</div>
      <div class="card custom-card">
        <div class="card-header custom-card-header">Login</div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                formControlName="username"
                class="form-control custom-input"
                id="username"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control custom-input"
                id="password"
              />
            </div>
            <!-- Role selection -->
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <select
                formControlName="role"
                class="form-select custom-select"
                id="role"
              >
                <option value="user">User</option>
                <option value="admin">Admin</option>
              </select>
            </div>
            <div *ngIf="f['role'].value === 'admin'" class="mb-3">
              <label for="secretKey" class="form-label">Secret Key</label>
              <input
                type="password"
                formControlName="secretKey"
                class="form-control custom-input"
                id="secretKey"
              />
            </div>
            <button type="submit" class="btn btn-primary custom-btn">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
